@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
html {
  font-size: 18px;
  min-width: 320px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 2vmax;
  }
}

body {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.0555555556rem;
  color: #666666;
}
body.fancybox-active {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container--delivery {
  justify-content: space-evenly;
}
@media screen and (max-width: 768px) {
  .container--delivery {
    margin-top: 5.5555555556rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #292929;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  min-height: 36.1111111111rem;
}
.section--greeting {
  padding-bottom: 1.3888888889rem;
  position: relative;
  background-color: white;
}
.section--greeting::after {
  content: "";
  background: url("../img/icons/Rectangle14.png") no-repeat;
  width: 2.7777777778rem;
  height: 2.7777777778rem;
  display: block;
  position: absolute;
  bottom: -4%;
  right: 20%;
}
.section--features {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section--features {
    padding-top: 100px;
  }
}
.section--gray {
  background-color: #f5f5f5;
}
.section--light-gray {
  background-color: #F8FAF9;
}
.section--black {
  background: url("../img/form-bg.png") center/cover no-repeat #292929;
  padding-top: 2.1111111111rem;
  padding-bottom: 4.7222222222rem;
  position: relative;
}
.section--black::after {
  content: "";
  background: url("../img/icons/Polygon2.png") no-repeat;
  width: 3.0555555556rem;
  height: 3.0555555556rem;
  display: block;
  position: absolute;
  top: -4%;
  right: 20%;
}
.section--contacts {
  flex-direction: column;
  align-items: flex-end;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .social {
    justify-content: center;
  }
}

.social__item {
  width: 30px;
  height: 30px;
}

.social__link {
  fill: #B3B3B3;
}
.social__link:hover {
  fill: #292929;
  transition: 0.5s;
}

.shop {
  display: flex;
  flex-direction: row;
  position: relative;
}
@media screen and (max-width: 768px) {
  .shop {
    flex-direction: column;
  }
}
.shop__controls {
  display: block;
}
.shop__btn {
  position: absolute;
  top: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}
.shop__btn_right {
  right: -5.5555555556rem;
}
.shop__btn_left {
  left: -5.5555555556rem;
}
.shop__picture {
  margin-right: 60px;
  position: relative;
  width: 25.1111111111rem;
  height: 25.1111111111rem;
}
@media screen and (max-width: 768px) {
  .shop__picture {
    width: 17rem;
    height: 17rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .shop__picture {
    width: 64%;
    height: auto;
  }
}
.shop__menu {
  display: flex;
  justify-content: center;
  width: 91px;
  height: 91px;
  background-color: #9A9A9A;
  border-radius: 4px;
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .shop__menu {
    display: none;
  }
}
.shop__icon--gear {
  width: 50%;
  fill: white;
}
.shop__column {
  width: 50%;
  flex-direction: column;
  align-content: space-between;
}
@media screen and (max-width: 768px) {
  .shop__column {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2.7777777778rem;
  }
}
.shop__title {
  max-width: 23.2777777778rem;
  text-transform: uppercase;
  color: #292929;
  font-size: 2rem;
  line-height: 2.3333333333rem;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .shop__title {
    max-width: 100%;
    text-align: center;
  }
}
.shop__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .shop__description {
    width: 100%;
  }
}
.shop__row {
  margin: 1.5rem 0 1.5rem 0;
}
.shop__purchase {
  display: flex;
  align-items: center;
}
.shop__price {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  color: #151515;
  margin-right: 0.7222222222rem;
}

.description {
  width: 50%;
}

.description__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.decsription__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.gear {
  position: relative;
}
.gear:hover .gear__list {
  left: 100%;
  opacity: 1;
}
.gear .gear__list {
  position: absolute;
  top: 0;
  left: -999px;
  opacity: 0;
  background: #fefffe;
  padding: 15px 27px 30px 12px;
  transition: opacity 0.3s;
}
.gear .gear__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.gear .gear__icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.gear .gear__text {
  min-width: 130px;
}
.gear .gear__number {
  margin-left: auto;
}

.video__title {
  text-align: center;
}

iframe {
  margin: 0 auto;
}

.slider--version--desktop {
  display: flex;
}
@media screen and (max-width: 768px) {
  .slider--version--desktop {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .slider--version--desktop {
    display: none;
  }
}

.slider--version--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .slider--version--mobile {
    display: block;
  }
}

.team__title {
  text-align: center;
}

.slider__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .slider__list {
    flex-direction: column;
  }
}

.slider__item {
  text-align: center;
  margin-right: 20px;
  width: 12.2222222222rem;
  position: relative;
}
.slider__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .slider__item:last-child {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .slider__item {
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
  }
}

.slider__pic {
  margin-bottom: 1.3888888889rem;
}
@media screen and (max-width: 768px) {
  .slider__pic--active {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .slider__pic {
    width: 138px;
    margin: 0 auto;
    margin-bottom: 18px;
  }
}

.slider__name {
  display: block;
  margin: 0 auto;
  color: #292929;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1666666667rem;
  position: relative;
  margin-bottom: 0.6111111111rem;
  border: none;
  background: none;
}
.slider__name::after {
  position: absolute;
  content: "";
  display: block;
  top: 0.4444444444rem;
  right: -0.4444444444rem;
  width: 9px;
  height: 9px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid #E01F3D;
}
@media screen and (max-width: 768px) {
  .slider__name {
    font-size: 21px;
    line-height: 25px;
  }
}

.slider__description {
  overflow: hidden;
  height: 0;
  transition: 0.7s;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}
.slider__description--active {
  height: 100px;
}
.slider__description--wrap {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .slider__description {
    position: relative;
    top: initial;
    left: initial;
  }
}

.slider__occupation {
  color: #292929;
}
@media screen and (max-width: 768px) {
  .slider__occupation {
    font-size: 21px;
    line-height: 25px;
  }
}

.slider__competence {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #666;
}

.top-block {
  max-width: 32.7777777778rem;
  margin: 0 auto;
}

.top-block__text {
  font-size: 0.8888888889rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3333333333rem 0;
}

@media screen and (max-width: 768px) {
  .telephone__link.header__telephone {
    display: none;
  }
}

.section--products {
  background: url("../img/content/menu-bg.png") top left/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.products__title {
  position: absolute;
  width: 170px;
  height: 52px;
  left: 84px;
  top: 115px;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-align: start;
  color: #FFFFFF;
}

.products-menu__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.product__content {
  position: relative;
  width: 0;
  opacity: 0;
  padding: 31px 38px;
  background: rgba(51, 53, 55, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow: hidden;
  transition: width 0.7s;
}

.product {
  display: flex;
  position: relative;
  min-width: 102px;
}
.product--silver {
  background-color: #999999;
}
.product--black {
  background-color: #151515;
}
.product--red {
  background-color: #E01F3D;
}
.product--active > .product__content {
  display: block;
  width: 524px;
  padding: 31px 38px;
  opacity: 1;
  color: white;
}

.product__title {
  position: absolute;
  left: 50%;
  bottom: 10px;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: white;
  white-space: nowrap;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: 0 0;
}

.logo {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  margin-right: 2.1111111111rem;
  flex-shrink: 0;
}
.logo_img {
  fill: #E01F3D;
}

.nav-menu {
  margin-right: 1.6666666667rem;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.nav-menu__item {
  margin-right: 1.5rem;
}
.nav-menu__item:last-child {
  margin: 0;
}

.nav-menu__link {
  font-family: Alegreya Sans;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6666666667rem;
  color: #292929;
  white-space: nowrap;
}

.burger-menu {
  display: none;
  min-height: 100vh;
  width: 100%;
  background-color: #313131;
  position: absolute;
  z-index: 1000;
}
.burger-menu .nav-menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.burger-menu .nav-menu__list {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.burger-menu .nav-menu__link {
  color: white;
  font-size: 36px;
  line-height: 72px;
}
.burger-menu--open {
  display: flex;
}

.greeting__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: row;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    flex: 2;
  }
}

.hero__column {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .hero__column {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2.7777777778rem;
  }
  .hero__column::before {
    content: "";
    width: 17.9444444444rem;
    height: 17.9444444444rem;
    background: url("../img/content/Solo--white.png") center center/contain no-repeat;
    transform: scale(0.8);
  }
}

.hero__title {
  max-width: 36.9444444444rem;
}

.hero__text {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
  margin-bottom: 3.1111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__text {
    max-width: 20.6111111111rem;
  }
}

.hero__picture {
  position: absolute;
  right: 0;
  top: -1.0555555556rem;
  width: 50%;
  height: 27.1666666667rem;
  background: url("../img/content/Solo--white.png") center center/contain no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__picture {
    display: none;
  }
}

.hero__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.telephone {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.telephone__icon {
  width: 15px;
  height: 15px;
}
@media screen and (max-width: 768px) {
  .telephone__icon {
    display: none;
  }
}

.telephone__link {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
  white-space: nowrap;
  position: relative;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: calc(50% - 600px);
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background-color: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #292929;
  opacity: 60%;
}

.features-small {
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .features-small {
    display: none;
  }
}

.features-small__menu {
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.features-small__item {
  display: flex;
  align-items: center;
  margin-right: 1.1111111111rem;
}

.features-small__icon {
  width: 2.2777777778rem;
  margin-right: 0.3333333333rem;
}

.features-small__text {
  max-width: 6.3333333333rem;
}

.features {
  margin-bottom: 5.5555555556rem;
  height: auto;
}

.features__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3.4444444444rem;
}
@media screen and (max-width: 480px) {
  .features__menu {
    flex-direction: column;
  }
}

.features__item {
  position: relative;
  flex: 1;
  padding: 0 2%;
}
.features__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 3.7222222222rem;
  height: 1.1666666667rem;
  top: 20%;
  right: -10%;
  background: url("../img/icons/spot-decor.png") no-repeat;
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .features__item::before {
    display: none;
  }
}
.features__item:first-child {
  margin-left: 0;
  padding-left: 0;
}
.features__item:last-child {
  margin-right: 0;
  padding-right: 0;
}
.features__item:last-child::before {
  display: none;
}
@media screen and (max-width: 768px) {
  .features__item {
    min-width: auto;
    padding: 0 1%;
  }
}
@media screen and (max-width: 480px) {
  .features__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
  }
}

.features__img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 480px) {
  .features__img {
    margin: 0 0.6666666667rem 0.8333333333rem 0;
  }
}
.features__img img {
  width: 50%;
}

.features__item-title {
  color: #292929;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3333333333rem;
  line-height: 1.5555555556rem;
  margin-bottom: 0.3888888889rem;
}

.features__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
  margin: 0 auto;
}

.top-block__title {
  margin: 0;
  padding: 0;
}

.headline {
  font-style: normal;
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 108%;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.headline--white {
  color: white;
  text-align: center;
}

.reviews__title {
  text-align: center;
  margin-top: 3.5555555556rem;
  margin-bottom: 1.7777777778rem;
}

.review__item {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F8FAF9;
  gap: 1.7777777778rem;
  padding: 2.3333333333rem;
  position: relative;
  z-index: -2;
}
.review__item:after {
  content: "";
  display: block;
  position: absolute;
  top: -3.3888888889rem;
  background-color: white;
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  border-radius: 50%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .review__item {
    flex-direction: column;
    text-align: center;
  }
}

.review__item--active {
  display: flex;
}

.review__title {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3333333333rem;
  line-height: 1.5555555556rem;
  color: #292929;
}

.review__text {
  padding: 12px 0 12px 0;
}

.review__column img {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .review__column img {
    width: 7.2222222222rem;
    height: 7.2222222222rem;
  }
}

.review__username {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1666666667rem;
  color: #292929;
}

.usernames {
  margin-top: 0.8333333333rem;
  margin-bottom: 3.5rem;
}
.usernames .usernames__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3333333333rem;
}
.usernames .username {
  border-radius: 50%;
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  overflow: hidden;
  border: 0.2222222222rem solid transparent;
}
.usernames .username:hover, .usernames .username.username--active {
  border: 0.2222222222rem solid #E01F3D;
  transition: 0.7s;
}

.username--active {
  border: 0.2222222222rem solid #E01F3D;
}

.btn {
  display: inline-block;
  padding: 1.1666666667rem 2.2777777778rem;
  border-radius: 5.5555555556rem;
  border: none;
  text-transform: uppercase;
}
.btn:focus {
  outline: none;
}

.btn--red {
  background-color: #E01F3D;
  color: #fff;
}
.btn--red:hover {
  background-color: #CA1B36;
  transition: 0.7s;
}

.btn--transparrent {
  background-color: transparent;
  color: white;
}
.btn--transparrent:hover {
  color: #000;
  transition: 0.7s;
}

.shop__btn {
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.shop__btn_right {
  transform: rotate(-45deg);
}
.shop__btn_left {
  transform: rotate(135deg);
}

button {
  border: 0;
}

.form {
  display: flex;
  color: white;
}
@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
    align-items: center;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__column {
  flex: 1;
  width: 100%;
  margin-right: 1.5rem;
}
.form__column:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__column {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.6111111111rem;
}

.form__block {
  flex: 1;
  margin-right: 1.3888888889rem;
  box-sizing: border-box;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  margin-bottom: 0.3333333333rem;
}

.form__input {
  width: 100%;
  padding: 1rem 0.6666666667rem;
  height: 3.2222222222rem;
  border: none;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
  margin-bottom: 1.1111111111rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.8888888889rem;
  margin-bottom: 0.8888888889rem;
}
.form__controls:first-child {
  margin-top: 2.2222222222rem;
  margin-right: 0.5555555556rem;
}

.form__btns {
  margin-top: 2.6666666667rem;
}
@media screen and (max-width: 768px) {
  .form__btns {
    display: flex;
    justify-content: center;
  }
}

.input-error {
  border: 2px solid #E01F3D;
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio__checkbox .radio__visible {
  border-radius: 0;
}
.radio__checkbox .radio__visible::before {
  background: url("../../img/svg/checkmark.svg") center/contain no-repeat;
  border-radius: 0;
  color: #E01F3D;
}

.radio__element {
  display: none;
}
.radio__element:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  margin-right: 0.5555555556rem;
  border-radius: 50%;
  position: relative;
  background: white;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background-color: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__title {
  text-align: center;
  margin-bottom: 44px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 36.7777777778rem;
  height: 21.7777777778rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .player {
    width: 33rem;
  }
}
@media screen and (max-width: 480px) {
  .player {
    width: 21.8888888889rem;
  }
}

.player__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.video {
  width: 100%;
}

.video__player {
  width: 100%;
}

.player__controls {
  width: 100%;
  background: #151515;
  height: 1.8888888889rem;
  position: absolute;
  top: 87%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .player__controls {
    top: 78%;
  }
}
@media screen and (max-width: 480px) {
  .player__controls {
    top: 48%;
  }
}

.player__start {
  display: block;
  width: 0;
  height: 0;
  border: 0.6111111111rem solid transparent;
  border-right-width: 0;
  border-top-width: 0.5rem;
  border-bottom-width: 0.5rem;
  border-left-color: white;
  background: #151515;
  padding: 0;
  border-radius: 10%;
  outline: none;
  cursor: pointer;
}
.player__start--active {
  width: 10px;
  height: 10px;
  border: 0px solid white;
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
  border-radius: 0;
  background: #151515;
}

.player__playback {
  position: relative;
  width: 24.5555555556rem;
  height: 0.2222222222rem;
  background: linear-gradient(to right, #E01F3D 0%, #333 0%);
  margin-left: 1.75rem;
}

.player__playback-line {
  position: relative;
  width: 0;
  height: 100%;
  background: #E01F3D;
}

.player__playback-button {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #E01F3D;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  padding: 0;
}

.player__volume-icon {
  width: 0.875rem;
  height: 1.0625rem;
  position: relative;
  opacity: 1;
  margin-left: 5%;
  cursor: pointer;
}
.player__volume-icon.muted::before {
  content: "";
  display: block;
  width: 150%;
  height: 2px;
  background-color: #E01F3D;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.player__volume--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  fill: white;
}

.player__volume {
  position: relative;
  width: 3.4444444444rem;
  height: 0.25rem;
  position: relative;
  margin-left: 1.5rem;
  background: linear-gradient(to right, #E01F3D 0%, #333 0%);
  cursor: pointer;
}

.player__volume-bar {
  width: 0;
  height: 100%;
  background: #E01F3D;
}

.player__volume-button {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #E01F3D;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0;
}

.hamburger-container--active {
  display: block;
  z-index: 10000;
  transition: 0.7s;
}

.hamburger {
  width: 24px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}
.hamburger--active .hamburger__plank {
  background-color: white;
  transform: scale(0);
  transition: 0s;
}
.hamburger--active .hamburger__plank:first-child {
  transform: translateY(4px) rotate(135deg);
  transition: 0.7s;
}
.hamburger--active .hamburger__plank:last-child {
  transform: translateY(-12px) rotate(-135deg);
  transition: 0.7s;
}

.hamburger__plank {
  display: block;
  background-color: #292929;
  height: 4px;
  border-radius: 10px;
}

.map {
  width: 100%;
  height: 100%;
}

.footer--container {
  width: 100%;
  background: white;
}

.footer {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 0 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
}

.footer__address {
  font-style: normal;
  font-weight: normal;
  font-size: 1.1666666667rem;
  line-height: 1.3333333333rem;
  color: #000;
}
@media screen and (max-width: 768px) {
  .footer__address {
    font-size: 1rem;
    line-height: 1.1666666667rem;
    text-align: center;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 480px) {
  .footer__telephone {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer__telephone .telephone__icon {
    display: inline-flex;
    fill: #E01F3D;
  }
}
@media screen and (max-width: 480px) {
  .footer__telephone .telephone__icon {
    fill: #292929;
  }
}

@media screen and (max-width: 768px) {
  .footer__telephone .telephone__link {
    color: #E01F3D;
    font-size: 1rem;
    line-height: 1.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__telephone .telephone__link {
    color: #292929;
  }
}

.footer__row {
  padding: 1.6666666667rem 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 309px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}
.modal__content {
  margin-bottom: 15px;
  color: #000;
}

.modal__container {
  margin: auto;
  background: #fff;
  padding: 37px 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*# sourceMappingURL=main.css.map */