@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap");
body {
  font-family: "Play", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.0555555556rem;
  color: #666666;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #292929;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container--delivery {
  justify-content: space-evenly;
}

*, ::before, ::after {
  box-sizing: border-box;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  min-height: 36.1111111111rem;
  border: 0.0555555556rem solid #E01F3D;
}
.section--greeting {
  padding-bottom: 1.3888888889rem;
  position: relative;
  background-color: white;
}
.section--greeting::after {
  content: "";
  background: url("../img/icons/Rectangle14.png") no-repeat;
  width: 2.7777777778rem;
  height: 2.7777777778rem;
  display: block;
  position: absolute;
  bottom: -4%;
  right: 20%;
}
.section--features {
  text-align: center;
}
.section--gray {
  background-color: #f5f5f5;
}
.section--light-gray {
  background-color: #F8FAF9;
}
.section--black {
  background: url("../img/form-bg.png") center/cover no-repeat #292929;
  padding-top: 2.1111111111rem;
  padding-bottom: 4.7222222222rem;
  position: relative;
}
.section--black::after {
  content: "";
  background: url("../img/icons/Polygon2.png") no-repeat;
  width: 3.0555555556rem;
  height: 3.0555555556rem;
  display: block;
  position: absolute;
  top: -4%;
  right: 20%;
}

.top-block {
  max-width: 32.7777777778rem;
  margin: 0 auto;
}

.top-block__text {
  font-size: 0.8888888889rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3333333333rem 0;
}

.logo {
  width: 2.2222222222rem;
  height: 2.2222222222rem;
  margin-right: 2.1111111111rem;
}

.nav-menu {
  margin-right: 2.2222222222rem;
}

.nav-menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav-menu__item {
  margin-right: 1.5rem;
}
.nav-menu__item:last-child {
  margin: 0;
}

.nav-menu__link {
  font-family: Alegreya Sans;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6666666667rem;
  color: #292929;
}

.greeting__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: row;
  position: relative;
}

.hero__column {
  width: 50%;
}

.hero__text {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1666666667rem;
  line-height: 1.3888888889rem;
  margin-bottom: 3.1111111111rem;
}

.hero__picture {
  position: absolute;
  right: 0;
  top: -1.0555555556rem;
  right: 1.0555555556rem;
  width: 27.1666666667rem;
  height: 27.1666666667rem;
}

.hero__img {
  max-width: 100%;
  height: auto;
  display: block;
}

.telephone {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.telephone__link {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1rem;
}
.telephone__link:before {
  content: "";
  display: inline-flex;
  background: url("../img/icons/phone.png") no-repeat;
  background-size: contain;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  margin-right: 0.3333333333rem;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: calc(50% - 600px);
}

.fixed-menu__item {
  margin-bottom: 0.2777777778rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #E01F3D;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background-color: #E01F3D;
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #292929;
  opacity: 60%;
}

.features-small {
  margin-bottom: 2.7777777778rem;
}

.features-small__menu {
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.features-small__item {
  display: flex;
  align-items: center;
  margin-right: 1.1111111111rem;
}

.features-small__icon {
  width: 2.2777777778rem;
  margin-right: 0.3333333333rem;
}

.features-small__text {
  max-width: 6.3333333333rem;
}

.features {
  margin-bottom: 5.5555555556rem;
}

.features__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3.0555555556rem;
  margin-top: 3.4444444444rem;
}

.features__item {
  width: 13.8888888889rem;
  position: relative;
}
.features__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 3.7222222222rem;
  height: 1.1666666667rem;
  top: 20%;
  right: -3.2777777778rem;
  background: url("../img/icons/spot-decor.png") no-repeat;
}
.features__item:last-child::before {
  display: none;
}

.features__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background: #F2F5F4;
  border-radius: 50%;
  margin-bottom: 1.3333333333rem;
}
.features__img img {
  width: 50%;
}

.features__item-title {
  color: #292929;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3333333333rem;
  margin-bottom: 0.3888888889rem;
}

.features__item-text {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8888888889rem;
  line-height: 1.0555555556rem;
}

.top-block__title {
  margin: 0;
  padding: 0;
}

.headline {
  font-style: normal;
  font-weight: bold;
  font-size: 2.6666666667rem;
  line-height: 108%;
  color: #292929;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.headline--white {
  color: white;
  text-align: center;
}

.reviews__title {
  text-align: center;
  margin-top: 3.5555555556rem;
  margin-bottom: 1.7777777778rem;
}

.review__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F8FAF9;
  gap: 2.2222222222rem;
  padding: 2.3333333333rem;
  position: relative;
  z-index: -2;
}
.review__item:after {
  content: "";
  display: block;
  position: absolute;
  top: -3.3888888889rem;
  background-color: white;
  width: 4.6111111111rem;
  height: 4.6111111111rem;
  border-radius: 50%;
  z-index: -1;
}

.review__title {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3333333333rem;
  line-height: 1.5555555556rem;
  color: #292929;
}

.review__left-column {
  width: 30%;
}
.review__left-column img {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}

.review__right-column {
  flex: 1;
}
.review__right-column .review__text {
  margin-bottom: 2.1111111111rem;
}
.review__right-column .review__username {
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1666666667rem;
  color: #292929;
}

.usernames {
  margin-top: 0.8333333333rem;
  margin-bottom: 3.5rem;
}
.usernames .usernames__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3333333333rem;
}
.usernames .username {
  border-radius: 50%;
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 0.2222222222rem solid white;
  overflow: hidden;
}
.usernames .username:hover {
  border: 0.2222222222rem solid #E01F3D;
  transition: 0.7s;
}

.btn {
  display: inline-block;
  padding: 1.1666666667rem 2.2777777778rem;
  border-radius: 5.5555555556rem;
  border: none;
  text-transform: uppercase;
}
.btn:focus {
  outline: none;
}

.btn--red {
  background-color: #E01F3D;
  color: #fff;
}
.btn--red:hover {
  background-color: #CA1B36;
  transition: 0.7s;
}

.btn--transparrent {
  background-color: transparent;
  color: white;
}
.btn--transparrent:hover {
  color: #000;
  transition: 0.7s;
}

.form {
  display: flex;
  color: white;
}

.form__column {
  flex: 1;
  margin-right: 1.5rem;
}
.form__column:last-child {
  margin-right: 0;
}

.form__row {
  display: flex;
  margin-bottom: 0.6111111111rem;
}

.form__block {
  flex: 1;
  margin-right: 1.3888888889rem;
  box-sizing: border-box;
}
.form__block:last-child {
  margin-right: 0;
}

.form__title {
  margin-bottom: 0.3333333333rem;
}

.form__input {
  width: 100%;
  padding: 1rem 0.6666666667rem;
  height: 3.2222222222rem;
  border: none;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
  margin-bottom: 1.1111111111rem;
}
.form__input:focus {
  border-color: #E01F3D;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.8888888889rem;
  margin-bottom: 0.8888888889rem;
}
.form__controls:first-child {
  margin-top: 2.2222222222rem;
}

.form__btns {
  margin-top: 2.6666666667rem;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.radio__checkbox .radio__visible {
  border-radius: 0;
}
.radio__checkbox .radio__visible::before {
  background: url("../../img/icons/checkmark.png") center/contain no-repeat;
  border-radius: 0;
  color: #E01F3D;
}

.radio__element {
  display: none;
}
.radio__element:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  margin-right: 0.5555555556rem;
  border-radius: 50%;
  position: relative;
  background: white;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background-color: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*# sourceMappingURL=main.css.map */