.btn{
    display:inline-block;
    padding: rem(21px) rem(41px);
    border-radius: rem(100px);
    border: none;
    text-transform: uppercase;
    &:focus{
        outline: none;
        
    }
}
.btn--red{
    background-color: $red;
    color: $white;
    &:hover{
        background-color: $darkred;
        transition: 0.7s;
    }
}

.btn--transparrent{
    background-color: transparent;
    color: white;
    &:hover{
        color: #000;
        transition: 0.7s;
    }
}

.shop__btn{
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    // &_right{
    //     transform: rotate(-320deg);
    // }
    // &_left{
    //     transform: rotate(135deg);
    // }
}
button{
    border: 0;
}