.features-small{
    margin-bottom: rem(50px); 
    @include tablets{
        display: none;
    }  
}

.features-small__menu{
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.features-small__item{
    display: flex;
    align-items: center;
    margin-right: rem(20px);
}

.features-small__icon{
    width: rem(41px);
    margin-right: rem(6px);
}


.features-small__text{
    max-width: rem(114px);
}