
.hamburger-container--active{
    display: block;
    z-index: 10000;
    transition: 0.7s;
}

.hamburger{
    width: 24px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    @include tablets{
        display: inline-flex;
    }
    &--active{
        
        .hamburger__plank{
            background-color: white; 
            transform: scale(0);
            transition: 0s;
        &:first-child{
                transform: translateY(4px) rotate(135deg);
                transition: 0.7s;
            }
        &:last-child{
                transform: translateY(-12px) rotate(-135deg);
                transition: 0.7s;
            }
    
        }
    }

}

.hamburger__plank{
    display: block;
    background-color: $black;
    height: 4px;
    border-radius: 10px;
}

// animation idea from https://codepen.io/Bilal1909/pen/KKdrmRP