.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: rem(24px) 0;
}

.telephone__link.header__telephone{
    @include tablets {
        display: none;
    }

}