.form{
    display: flex;
    color: white;
    margin-bottom: 40px;
}

.form__column{
    flex: 1;
    margin-right: 27px;
    &:last-child {
        margin-right: 0;
    }
}

.form__row{
    display: flex;
    margin-bottom: 36px;
}

.form__block{
    flex:1;
    margin-right: 25px;
    box-sizing:border-box;
    &:last-child{
        margin-right: 0;
    }
}

.form__input{
    width: 100%;
    padding: 18px 12px;
    border: none;
    border: solid 3px transparent;
    border-radius: 4px;

    &--textarea{
        height: 152px;
        resize: none;
    }

    &:focus{
        border-color: $red;
        outline: none;
    }
}

.form__controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 16px;
}

.form__btns{
    margin-top: 48px;
}