.features{
    margin-bottom: 100px;
}

.features__menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:55px;
    margin-top: 62px;
}

.features__item{
    width: 250px;
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 67px;
        height: 21px;
        top: 20%;
        right: -59px;
        background: url('../../img/icons/spot-decor.png') no-repeat;
    }
    &:last-child::before{
        display: none;
    }
}

.features__img{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    background: #F2F5F4;
    border-radius: 50%;
    margin-bottom: 24px;
    img{
        width: 50%;
    }
}

.features__item-title{
    color: $black;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 7px;
}
.features__item-text{
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

.top-block__title{
    margin: 0;
    padding: 0;
}