.features-small{
    margin-bottom: 50px;   
}

.features-small__menu{
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.features-small__item{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.features-small__icon{
    width: 41px;
    margin-right: 6px;
}


.features-small__text{
    max-width: 114px;
}