.features{
    margin-bottom: rem(100px);
    height: auto;
}

.features__menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: rem(62px);
    @include phones {
        flex-direction: column;
    }
}

.features__item{
    position: relative;
    flex: 1;
    padding: 0 2%;
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: rem(67px);
        height: rem(21px);
        top: 20%;
        right: -10%;
        background: url('../img/icons/spot-decor.png') no-repeat;
        background-size: contain;
        @include tablets{
            display: none;
        }
    }
    &:first-child{
        margin-left: 0;
        padding-left: 0;
    }
    &:last-child{
        margin-right: 0;
        padding-right: 0;
        &::before{
            display: none;
        }
    }
    @include tablets{
        min-width: auto;
        padding: 0 1%;
    }
    @include phones{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: left;
    }

}

.features__img{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin: 0 auto;
    width: rem(128px);
    height: rem(128px);
    background: #F2F5F4;
    border-radius: 50%;
    margin-bottom: rem(24px);
    @include phones{
        margin: 0 rem(12px) rem(15px) 0;
    }
    img{
        width: 50%;
    }
}

.features__item-title{
    color: $black;
    font-style: normal;
    font-weight: bold;
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: rem(7px);

}
.features__item-text{

    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(19px);

    margin: 0 auto;
}

.top-block__title{
    margin: 0;
    padding: 0;
}