.features{
    margin-bottom: rem(100px);
    height: auto;
}

.features__menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: rem(62px);
    @include phones {
        flex-direction: column;
    }
}

.features__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: rem(267px);
    min-height: rem(267px);
    position: relative;
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: rem(67px);
        height: rem(21px);
        top: 20%;
        right: 0;
        background: url('../img/icons/spot-decor.png') no-repeat;
        background-size: contain;
        @include tablets{
            display: none;
        }
    }   
    &:first-child::before{
        right: -10%;
    }
    &:last-child::before{
        display: none;
    }
    @include phones{
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: left;
    }

}

.features__img{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: rem(128px);
    height: rem(128px);
    background: #F2F5F4;
    border-radius: 50%;
    margin-bottom: rem(24px);
    @include phones{
        margin-right: rem(12px);
    }
    img{
        width: 50%;
    }
}

.features__description{
    width: 70%;
}
.features__item-title{
    color: $black;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: rem(24px);
    margin-bottom: rem(7px);
    white-space: nowrap;
}
.features__item-text{
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: rem(19px);
}

.top-block__title{
    margin: 0;
    padding: 0;
}