.fixed-menu{
    position: fixed;
    top: 20%;
    right: calc(50% - 600px);
}
.fixed-menu__item{
    margin-bottom: rem(5px);
    &--active{
        .fixed-menu__link{
            border-color: $red;
            &::before{
                background-color: $red;
            } 
        }
    }
}



.fixed-menu__link{
    width: rem(18px);
    height: rem(18px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
    display: block;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        border-radius: 50%;
        width: rem(9px);
        height: rem(9px);
        background-color: $black;
        opacity: 60%;
        
        .fixed-menu__link--theme--light{
            background-color: #fff;
        }

    }
}