.footer--container{
    width: 100%;
    background: white;
}
.footer{
    max-width: $containerWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    
    @include tablets{
        padding: 0 rem(30px);
    }
    @include phones{
        flex-direction: column;
    }
}
.footer__address{
    font-style: normal;
    font-weight: normal;
    font-size: rem(21px);
    line-height: rem(24px);
    color:#000;
    @include tablets {
        font-size: rem(18px);
        line-height: rem(21px);
        text-align: center;
        margin-bottom: 12px;
    }
}

.footer__row{
    padding: rem(30px) 0;
}

.footer__telephone {

    margin-left: rem(18px);
    @include phones{
        text-align: center;
    }
   
}
.footer__telephone .telephone__link{
   
    @include tablets { 
        color: $red;
        font-size: rem(18px);
        line-height: rem(21px);
        &:before{
            @include tablets{
                background: url('../img/icons/phone--red.png')center center/contain no-repeat;
            }
            
        }
    }

    @include phones{
        color: $black;
        &:before{
            @include tablets{
                background: url('../img/icons/phone.png')center center/contain no-repeat;
            }
            
        }
    }
    
}


