.footer--container{
    width: 100%;
    background: white;
}
.footer{
    max-width: $containerWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    
    @include tablets{
        padding: 0 rem(30px);
    }
    @include phones{
        flex-direction: column;
    }
}
.footer__address{
    font-style: normal;
    font-weight: normal;
    font-size: rem(21px);
    line-height: rem(24px);
    color:#000;
    @include tablets {
        font-size: rem(18px);
        line-height: rem(21px);
        text-align: center;
        margin-bottom: 12px;
    }
}

.footer__telephone{
    @include phones{
        text-align: center;
    }
}

.footer__telephone .telephone__icon{
    @include tablets{
        display: inline-flex;
        fill: #E01F3D;
    }
    @include phones{
        fill: $black;
    }
}
.footer__telephone .telephone__link{
    @include tablets { 
        color: $red;
        font-size: rem(18px);
        line-height: rem(21px);
    }
    @include phones { 
        color: $black;
    }
}



.footer__row{
    padding: rem(30px) 0;
}




