.footer--container{
    width: 100%;
    background: white;
}
.footer{
    width: $containerWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
}
.footer__address{
    font-style: normal;
    font-weight: normal;
    font-size: rem(21px);
    line-height: rem(24px);
    color:#000;
}
.footer__telephone{
    margin-left: rem(18px);

    @include tablets{
        color: $red;
        font-size: rem(18px);
        line-height: rem(21px);
    }
    &:before{
        @include tablets{
            background: url('../img/icons/phone--red.png') no-repeat;
        }
        
    }
}

.footer__row{
    width: 50%;
    padding: rem(30px) 0;
}
