.form{
    display: flex;
    color: white;
    @include tablets{
        flex-direction: column;
        align-items: center;
        padding: 0 19%;
    }
}

.form__column{
    flex: 1;
    width: 100%;
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
        
    }

    @include tablets{
       margin-right: 0;
    }
}

.form__row{
    display: flex;
    margin-bottom: rem(11px);
}

.form__block{
    flex:1;
    margin-right: rem(25px);
    box-sizing:border-box;
    &:last-child{
        margin-right: 0;
    }
}

.form__title{
    margin-bottom: rem(6px);
}

.form__input{
    width: 100%;
    padding: rem(18px) rem(12px);
    height: rem(58px);
    border: none;
    border: solid rem(3px) transparent;
    border-radius: rem(4px);

    &--textarea{
        height: rem(152px);
        resize: none;
        margin-bottom: rem(20px);
    }

    &:focus{
        border-color: $red;
        outline: none;
    }
}

.form__controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: rem(16px);
    margin-bottom: rem(16px);
    &:first-child{
        margin-top: rem(40px);
    }
}

.form__btns{
    margin-top: rem(48px);
    @include tablets{
        display: flex;
        justify-content: center;
    }
}