.section-greeting{
    padding-bottom: 25px;
    position: relative;
    &::after{
        content: "";
        background: url('../../img/icons/Rectangle14.png') no-repeat;
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        bottom: -4%;
        right: 20%;
        
    }
    .nav-menu{
        flex:1;
        margin-right: 46px;
        .nav-menu__list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            .nav-menu__link{
                font-weight: normal;
                font-size: 18px;
                line-height: 30px;
                color:$black;
            }
        }  
    }
    .telephone{
            display: inline-flex;
            justify-content: center;
            align-items: center;

        .telephone__link{
            font-weight: normal;
            font-size: 18px;
            line-height: 18px;

            &:before{
                content: "";
                display: inline-flex;
                background: url('../../img/icons/phone.png') no-repeat;
                background-size: contain;
                width: 14px;
                height: 14px;
                margin-right: 6px;
            }
        }
        
    }
}    

.top-line{
    margin-bottom: 50px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    .logo{
        width: 40px;
        height: 40px;
        margin-right: 38px;
    }
}
.hero{
    display: flex;
}

.features-small{
    margin-bottom: 50px;
    .features-small__menu{
        padding: 0;
        margin: 0;
        display: inline-flex;

        .features-small__item{
            display: flex;
            align-items: center;
            margin-right: 20px;
            .features-small__icon{
                width: 41px;
                margin-right: 6px;
            }
            .features-small__text{
                max-width: 114px;
            }
        }

    }
}

.section__column{
    width: 50%;
    .section__text{
        font-family: Alegreya Sans; 
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 56px;
    }
}