
.hamburger-container--active{
    display: block;
    z-index: 10000;
    transition: 0.7s;

    .hamburger__plank{
        background-color: white; 
    }
   

}

.hamburger{
    width: 24px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    @include tablets{
        display: inline-flex;
    }

}

.hamburger__plank{
    display: block;
    background-color: $black;
    height: 4px;
    border-radius: 10px;
    transition: 0.5s;
}

// animation idea from https://codepen.io/Bilal1909/pen/KKdrmRP