.headline{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 108%;
    color: $black;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.headline--white{
    color: white;
}