.section--products{
    background: url('../img/content/menu-bg.png')top left / cover no-repeat;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.products__title{
    position: absolute;
    width: 170px;
    height: 52px;
    left: 84px;
    top: 115px;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 52px;
    text-align: start;
    color: #FFFFFF;

}
.products-menu__list{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

.product__content{
    position: relative;
    width: 0;
    opacity: 0;
    padding: 31px 38px;
    background: rgba(51, 53, 55, 0.9);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: width .7s;
}
.product{
    display: flex;
    position: relative;
    min-width: 102px;
    &--silver{
        background-color: #999999;
    }
    &--black{
        background-color: #151515;
    }
    &--red{
        background-color: $red;
    }
    &--active > .product__content{
        display: block;
        width: 524px;
        padding: 31px 38px;
        opacity: 1;
        color: white;
    }
}
.product__title{
    position: absolute;
    left: 50%;
    bottom: 10px;
    
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: white;
    white-space: nowrap;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: 0 0;
    
}
