.radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &__checkbox {
        .radio__visible { 
            border-radius: 0;

            &::before {
                background:url("../../img/svg/checkmark.svg")center / contain no-repeat;
                border-radius: 0;
                color: $red;
            }
        }
    }
}

.radio__element {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: rem(26px);
    height: rem(26px);
    margin-right: rem(10px);
    border-radius: 50%;
    position: relative;
    background: white;

    &:before{ 
        content:"";
        width: rem(13px);
        height: rem(13px);
        background-color: $red;
        border-radius: 50%;
        position: absolute;
        display: none;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}