.radio {
    display: flex;
    cursor: pointer;
    user-select: none;

    &__checkbox {
        .radio__visible { 
            border-radius: 0;

            &::before {
                background:url("/img/icons/checkmark.png")center / contain no-repeat;
                border-radius: 0;
                color: $red;
            }
        }
    }
}

.radio__element {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border-radius: 50%;
    position: relative;
    background: white;

    &:before{ 
        content:"";
        width: 13px;
        height: 13px;
        background-color: $red;
        border-radius: 50%;
        position: absolute;
        display: none;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
}