.reviews__title{
    text-align: center;
    margin-top: rem(64px);
    margin-bottom: rem(32px);       
}

.review__item{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $light-gray;
    gap: rem(32px);
    padding: rem(42px);
    position: relative;
    z-index: -2;
    

    &:after{
        content: "";
        display: block;
        position: absolute;
        top: rem(-61px);
        background-color: white;
        width: rem(83px);
        height: rem(83px);
        border-radius: 50%;
        z-index: -1;

    }
    
    @include tablets{
        flex-direction: column;
        text-align: center;
    }
}

.review__item--active{

    display: flex;

}

.review__title{
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: rem(24px);
    line-height: rem(28px);
    color:$black;
}

.review__text{
    padding: 12px 0 12px 0;
}

.review__column{
    img{
        width: rem(253px);
        height: rem(264px);
        @include tablets{
            width: rem(130px);
            height: rem(130px);
        }
    }
}

.review__username{
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: rem(18px);
    line-height: rem(21px);
    color: $black;
}

.usernames{
    margin-top: rem(15px);
    margin-bottom: rem(63px);    
    .usernames__menu{

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:rem(6px);
    }  
    .username{
        border-radius: 50%;
        width: rem(80px);
        height: rem(80px);
        overflow: hidden;
        border: rem(4px) solid transparent;
        &:hover{
            border: rem(4px) solid $red;
            transition: 0.7s;
        }
    }
    
}

.username--active{
    border: rem(4px) solid $red;
}