.reviews {
    .reviews__title{
        text-align: center;
        margin-top: 64px;
        margin-bottom: 32px;       
    }
    .review__item{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $light-gray;
        gap: 40px;
        padding: 42px;
        position: relative;
        z-index: -2;
        &:after{
            content: "";
            display: block;
            position: absolute;
            top: -61px;
            background-color: white;
            width: 83px;
            height: 83px;
            border-radius: 50%;
            z-index: -1;
        }
        .review__title{
            font-family: Play;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color:$black;
        }
        .review__left-column{
            width: 30%;
        }
        .review__right-column{
            flex: 1;
            .review__text{
                margin-bottom: 38px;
            }
            .review__username{
                font-family: Play;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                color: $black;
            }
        }
        
    }
    .usernames{
        margin-top: 15px;
        margin-bottom: 63px;    
        .usernames__menu{

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:6px;
        }
        .username{
           
            .username__avatar{
                border-radius: 50%;
                width: 80px;
                height: 80px;
                border: 4px solid white;
                &:hover{
                    border: 4px solid $red;
                    transition: 0.7s;
                }
            }
            
        }


    }
}