.shop{
    display: flex;
    flex-direction: row;
    position: relative;
    @include tablets{
        flex-direction: column;
        flex: 2;
    }

    &__controls{
        display: block;
    }

    &__btn{
        position: absolute;
        top: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
        &_right{
            right: rem(-100px);
        }
        &_left{
            left:rem(-100px);
        }
    }


    &__picture{
        margin-right: 60px;
        position: relative;
        width: rem(452px);
        height: rem(452px);
        background: url('../img/content/Ellipse6.png')top -10% center / contain no-repeat;
        @include tablets{
            display: none;
        }
    }

    &__menu{

        display: block;
        width: 91px;
        height: 91px;
        background-color: #9A9A9A;
        border-radius: 4px;
        margin-bottom: rem(25px);
        
        @include tablets{
            display: none;
        }

    }

    &__column{
        width: 50%;
        flex-direction: column;
        align-content: space-between;
        @include tablets{
            width: 100%;
            text-align: center;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: rem(50px);
            &::before{
                content: '';
                width: rem(323px);
                height: rem(323px);
                background: url('../img/content/Ellipse6.png')center center / contain no-repeat;
                transform: scale(0.8);
    
            }
        }
    }

    &__title{
        max-width: rem(419px);
        text-transform: uppercase;
        color: $black;
        font-size: rem(36px);
        line-height: rem(42px);
        margin-bottom: rem(24px);
        @include tablets{
            max-width: 100%;
            text-align: center;
        }
    }

    &__description{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: rem(27px);
    }
    &__row{
        margin: rem(27px) 0 rem(27px) 0;
    }

    &__price{
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 60px;
        color: #151515;
        margin-right: rem(13px);
    }
}

.description{
    width: 50%;   
}

.description__title{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color:$gray;
} 

.decsription__text{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}