.social{
    display: inline-block;
    width: 30px;
    height: 30px;
}

@each $social in (vk, fb, in, tel){
    .social_#{$social}{
        background: url('../img/icons/#{$social}.png') center center no-repeat;
    }
}