
.slider--version--desktop{
    display: flex;
    @include tablets{
        display: none;
    }
    @include phones{
        display: none;
    }
}

.slider--version--mobile{
    display: none;
    @include tablets{
        display: block;
    }
}

.team__container{
    justify-content:space-evenly;
}
.team__title{
    text-align: center;
}

.slider__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include tablets {
        flex-direction: column;
        
    }
}

.slider__item{
    text-align: center;
    margin-right: 20px;
    width: rem(220px);
    position: relative;
    &:last-child{
        margin-right: 0;
        @include tablets {
            margin: 0 auto;
        }
    }
    @include tablets {
        margin: 0 auto;
        width: 100%;
        max-width: 320px; 
    }
}
.slider__pic{
    margin-bottom: rem(25px);
    // @include tablets {
    //     display: none;
    // }
    &--active{
        @include tablets{
            display: block;
        }
    }
    @include tablets{
        width: 138px;
        margin: 0 auto;
        margin-bottom: 18px;
    }
}

.slider__name{
    display: block;
    margin: 0 auto;
    color: #292929;
    font-style: normal;
    font-weight: bold;
    font-size: rem(18px);
    line-height: rem(21px);
    position: relative;
    margin-bottom: rem(11px);
    border: none;
    background: none;
    &::after{
        position: absolute;
        content: "";
        display: block;
        top: rem(8px);
        right: rem(-8px);
        width: 9px;
        height: 9px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 6px solid $red;
    }
    @include tablets{
        font-size: 21px;
        line-height: 25px;
    }
   
}

.slider__description{
    overflow: hidden;
    height: 0;
    transition: 0.7s;
    position: absolute;
    width: 100%;
    top:100%;
    left: 0;
    &--active{
        height: 100px;
    }

    &--wrap{
        position: absolute;
    }
    @include tablets{
        position: relative;
        top: initial;
        left: initial;
    }
}



.slider__occupation{
    
    color: #292929;
    
    @include tablets{
        font-size: 21px;
        line-height: 25px;
    }
    
}
.slider__competence{

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #666;   
   
}