.telephone{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.telephone__link{
    font-weight: normal;
    font-size: rem(18px);
    line-height: rem(18px);

    &:before{
        content: "";
        display: inline-flex;
        background: url('../img/icons/phone.png') no-repeat;
        background-size: contain;
        width: rem(14px);
        height: rem(14px);
        margin-right: rem(6px);
    }
}