.telephone{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.telephone__link{
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;

    &:before{
        content: "";
        display: inline-flex;
        background: url('../../img/icons/phone.png') no-repeat;
        background-size: contain;
        width: 14px;
        height: 14px;
        margin-right: 6px;
    }
}