.telephone{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &__icon{
        width: 15px;
        height: 15px;

        @include tablets{
        display: none;
        }
    }
}
.telephone__link{
    font-weight: normal;
    font-size: rem(18px);
    line-height: rem(18px);
    white-space: nowrap;
    position: relative;
}



