/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');

/* fonts */

/* styles */

@import '../styles/components/btn.scss';
@import '../styles/components/greeting-section.scss';
@import '../styles/components/section-features.scss';
@import '../styles/components/reviews.scss';

/* styles */

/* colors */

$gray: #666666;
$red: #E01F3D;
$black: #292929;
$white: #fff;
$light-gray: #F8FAF9;

/* colors */

body{
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;  
    color: $gray;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: $black;
}

img{
    width: 100%;
}
.container{
    width: 940px;
    margin: 0 auto;
}










