@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');
//fonts
 

//layout

$containerWidth: 940px;
$baseFontSize: 18px;



//layout

$gray: #666666;
$red: #E01F3D;
$darkred:#CA1B36;   
$black: #292929;
$white: #fff;
$light-gray: #F8FAF9;


//colors


//breakpoint

$tablets: 768px;
$phones: 480px;

//breakpoint

// main presets

@import 'media';

html{
    height: 100%;
    font-size: $baseFontSize;
    @include tablets {
        font-size: $baseFontSize - 1px;
    }
    @include phones {
        font-size: 2vmax;
    }
    min-width: 320px;
}

body{
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: rem(19px);  
    color: $gray;
    height: 100%;
    &.fancybox-active {
        overflow: hidden;
    }
    .wrapper{
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;
        .main-content{
            height: 100%;
            transition: transform 1s;
            will-change: transform;
        }
    }

}



.container{
    width: 95%;
    max-width: $containerWidth;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--delivery{
        justify-content: space-evenly;
        
        @include tablets{
            margin-top: rem(100px);
        }
    }
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: $black;
}

h1,h2,h3,h4,h5,h6, p{
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
}



*,::before,::after{
    box-sizing: border-box;
}


// main presets



//components

@import 'components/section';
@import 'components/social';
@import 'components/shop';
@import 'components/video';
@import 'components/team';
@import 'components/top-line';
@import 'components/top-block';
@import 'components/header';
@import 'components/products';
@import 'components/logo';
@import 'components/nav-menu';
@import 'components/burger-menu';
@import 'components/greeting';
@import 'components/hero';
@import 'components/telephone';
@import 'components/fixed-menu';
@import 'components/features-small';
@import 'components/features';
@import 'components/headline';
@import 'components/reviews'; 
@import 'components/buttons'; 
@import 'components/form';
@import 'components/radio';
@import 'components/video-pl';
@import 'components/hamburger';
@import 'components/footer';
@import 'components/modal';

//components










